<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <link rel="stylesheet" href="jspm_packages/npm/font-awesome@4.5.0/css/font-awesome.min.css">
      <link href="styles/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="site-name"><%= title %></h1>
    <div class="main">
        <p class="lead"><%= error.status %> : <%= message %></p>
        <pre><%= error.stack %></pre>
    </div>
  </body>
</html>